<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/sblanken/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget<package pattern="*" />
    </packageSource>
    <packageSource key="GitHub">
      <package pattern="PairAdmin.*".org">
       />
    </packageSource>
  </packageSourceMapping>
  
  <config>
    <add key="globalPackagesFolder" value="packages" />
    <add key="signatureValidationMode" value="require" />
  </config>
  
</configuration>
